<form method="post" action="{{ path('invention_delete', {'id': invention.id}) }}" onsubmit="return confirm('Êtes-vous sur de vouloir supprimer cet Invention ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ invention.id) }}">
    <button class="btn">Supprimer</button>
</form>
