{% extends 'base.html.twig' %}

{% block title %}Modification d'invention{% endblock %}

{% block body %}
    <h3>Modification d'invention</h3>

    {{ include('invention/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <button type="button" class="btn btn-outline-warning"><a href="{{ path('invention_index') }}">Retour à la liste</a></button>

    {{ include('invention/_delete_form.html.twig') }}
{% endblock %}
