#labelemail, #labelpassword {
    margin-top: 15px;
}

#inputEmail, #inputPassword {
    margin-bottom: 20px;
    width: 30%;
}

#labelemail, #labelpassword, #inputEmail, #inputPassword, #submit {
    margin-left: 5%;
}

button#registerbtn.btn {
    margin-left: 5%;
    margin-bottom: 10%;
}

input#registration_form_plainPassword.form-control, input#registration_form_email.form-control {
    width: 40%;
}