{% extends "base.html.twig" %}

{% block title %}Anecdotes{% endblock %}

{% block body %}
<div class="jumbotron jumbotron-fluid">
    <h3>Anecdotes</h3>

    <div class="margin5">
    <p><strong>Titre</strong></p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque auctor erat sed lacinia tristique. Etiam eu nibh vehicula, cursus ipsum vel, efficitur quam. In cursus magna erat, in dictum nibh mattis nec. Duis a pulvinar turpis. Suspendisse vehicula, justo tincidunt fermentum scelerisque, erat erat ullamcorper nulla, at semper odio nibh vel tellus. Ut tristique facilisis tortor, id sagittis sapien pharetra pellentesque.</p>
    <br />

    <p><strong>Titre</strong></p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque auctor erat sed lacinia tristique. Etiam eu nibh vehicula, cursus ipsum vel, efficitur quam. In cursus magna erat, in dictum nibh mattis nec. Duis a pulvinar turpis. Suspendisse vehicula, justo tincidunt fermentum scelerisque, erat erat ullamcorper nulla, at semper odio nibh vel tellus. Ut tristique facilisis tortor, id sagittis sapien pharetra pellentesque.</p>
    <br />

    <p><strong>Titre</strong></p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque auctor erat sed lacinia tristique. Etiam eu nibh vehicula, cursus ipsum vel, efficitur quam. In cursus magna erat, in dictum nibh mattis nec. Duis a pulvinar turpis. Suspendisse vehicula, justo tincidunt fermentum scelerisque, erat erat ullamcorper nulla, at semper odio nibh vel tellus. Ut tristique facilisis tortor, id sagittis sapien pharetra pellentesque.</p>
    <br />

    <p><strong>Titre</strong></p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque auctor erat sed lacinia tristique. Etiam eu nibh vehicula, cursus ipsum vel, efficitur quam. In cursus magna erat, in dictum nibh mattis nec. Duis a pulvinar turpis. Suspendisse vehicula, justo tincidunt fermentum scelerisque, erat erat ullamcorper nulla, at semper odio nibh vel tellus. Ut tristique facilisis tortor, id sagittis sapien pharetra pellentesque.</p>
    <br />

    <p><strong>Titre</strong></p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque auctor erat sed lacinia tristique. Etiam eu nibh vehicula, cursus ipsum vel, efficitur quam. In cursus magna erat, in dictum nibh mattis nec. Duis a pulvinar turpis. Suspendisse vehicula, justo tincidunt fermentum scelerisque, erat erat ullamcorper nulla, at semper odio nibh vel tellus. Ut tristique facilisis tortor, id sagittis sapien pharetra pellentesque.</p>
    <br />

    <p><strong>Titre</strong></p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque auctor erat sed lacinia tristique. Etiam eu nibh vehicula, cursus ipsum vel, efficitur quam. In cursus magna erat, in dictum nibh mattis nec. Duis a pulvinar turpis. Suspendisse vehicula, justo tincidunt fermentum scelerisque, erat erat ullamcorper nulla, at semper odio nibh vel tellus. Ut tristique facilisis tortor, id sagittis sapien pharetra pellentesque.</p>
    <br />

    <p><strong>Titre</strong></p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque auctor erat sed lacinia tristique. Etiam eu nibh vehicula, cursus ipsum vel, efficitur quam. In cursus magna erat, in dictum nibh mattis nec. Duis a pulvinar turpis. Suspendisse vehicula, justo tincidunt fermentum scelerisque, erat erat ullamcorper nulla, at semper odio nibh vel tellus. Ut tristique facilisis tortor, id sagittis sapien pharetra pellentesque.</p>
    <br />
    </div>
</div>
{% endblock %}